.contact-item {
  display: flex;
  flex-direction: row;
}

.contact-item-icon-solid {
  font-family: la-solid;
  font-size: 24px;
}

.contact-item-icon-brands {
  font-family: la-brands;
  font-size: 24px;
}
