.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-item-icon {
  font-size: 28px;
}

.contact-item-icon-fa {
  padding-left: 3px;
  width: 28px;
  font-size: 18px;
}
