<div class="m-3">
    <h1>{{ 'AboutTab.About' | translate }}</h1>
    <app-logo-full class="mt-2"></app-logo-full>
    <div class="mt-2">
        {{ 'AboutTab.Version' | translate }}:
        <strong> {{ productInformation.version }}</strong>
        <br />{{ productInformation.copyright }}
    </div>
    <button class="mt-2" mat-raised-button color="primary" (click)="openLicenseDialog()">
        {{ 'Buttons.License' | translate }}
    </button>
</div>
<mat-divider></mat-divider>
<div class="m-3">
    <h1>{{ 'AboutTab.Donate' | translate }}</h1>
    <div class="mt-2">{{ 'AboutTab.IsAppUseful' | translate }}</div>
    <button class="mt-2" mat-raised-button color="primary" (click)="openDonateLink()">
        {{ 'Buttons.Donate' | translate }}
    </button>
</div>
<mat-divider></mat-divider>
<div class="m-3">
    <h1>{{ 'AboutTab.GetInTouch' | translate }}</h1>
    <div class="contact-item mb-1 mt-2">
        <i class="contact-item-icon mr-1 las la-globe"></i>
        <a href="{{ websiteUrl }}" matTooltip="{{ websiteUrl }}">{{ 'AboutTab.Website' | translate }}</a>
    </div>
    <div class="contact-item mb-1">
        <i class="contact-item-icon mr-1 lab la-twitter"></i>
        <a href="{{ twitterUrl }}" matTooltip="{{ twitterUrl }}">Twitter</a>
    </div>
    <div class="contact-item">
        <i class="contact-item-icon mr-1 lab la-github"></i>
        <a href="{{ githubUrl }}" matTooltip="{{ githubUrl }}">GitHub</a>
    </div>
</div>
<mat-divider></mat-divider>
<div class="m-3">
    <h1>{{ 'AboutTab.Components' | translate }}</h1>
    <div class="mt-2" *ngFor="let externalComponent of externalComponents">
        <strong>{{ externalComponent.name }}</strong
        ><br />
        {{ externalComponent.description }}<br />
        <a href="{{ externalComponent.url }}">{{ 'AboutTab.Website' | translate }}</a>
        <a class="ml-1" href="{{ externalComponent.licenseUrl }}">{{ 'AboutTab.License' | translate }}</a>
    </div>
</div>
