<!-- Theme -->
<div class="m-3">
    <h1>{{ 'SettingsTab.Color' | translate }}</h1>
    <app-color-theme-switcher class="mt-2"></app-color-theme-switcher>
</div>
<hr>
<!-- Language -->
<div class="m-3">
    <h1 class="mt-2">{{ 'SettingsTab.Language' | translate }}</h1>
    <app-language-switcher class="mt-2"></app-language-switcher>
</div>
<hr>
<!-- Font size -->
<div class="m-3">
    <h1 class="mt-2">{{ 'SettingsTab.FontSize' | translate }}</h1>
    <app-font-size-switcher class="mt-2"></app-font-size-switcher>
</div>
<hr>
<!-- Conversion -->
<div class="m-3">
    <h1 class="mt-2">{{ 'SettingsTab.Conversion' | translate }}</h1>
    <app-audio-format-switcher class="mt-2"></app-audio-format-switcher>
    <app-audio-bitrate-switcher class="mt-2"></app-audio-bitrate-switcher>
</div>
<!-- Title bar -->
<div class="m-3">
    <h1 class="mt-2">{{ 'SettingsTab.TitleBar' | translate }}</h1>
    <mat-slide-toggle class="mt-2" [(ngModel)]="useCustomTitleBarChecked">
        {{ 'SettingsTab.UseCustomTitleBar' | translate }}</mat-slide-toggle>
</div>
<!-- Updates -->
<div class="m-3">
    <h1 class="mt-2">{{ 'SettingsTab.Updates' | translate }}</h1>
    <mat-slide-toggle class="mt-2" [(ngModel)]="checkForUpdatesChecked">
        {{ 'SettingsTab.CheckForUpdates' | translate }}</mat-slide-toggle>
</div>