<!-- Theme -->
<div class="m-3">
    <h1>{{ 'SettingsTab.Color' | translate }}</h1>
    <app-theme-switcher class="mt-2"></app-theme-switcher>
</div>
<mat-divider></mat-divider>
<!-- Language -->
<div class="m-3">
    <h1 class="mt-2">{{ 'SettingsTab.Language' | translate }}</h1>
    <app-language-switcher class="mt-2"></app-language-switcher>
</div>
<mat-divider></mat-divider>
<!-- Font size -->
<div class="m-3">
    <h1 class="mt-2">{{ 'SettingsTab.FontSize' | translate }}</h1>
    <app-font-size-switcher class="mt-2"></app-font-size-switcher>
</div>
<mat-divider></mat-divider>
<!-- Conversion -->
<div class="m-3">
    <h1 class="mt-2">{{ 'SettingsTab.Conversion' | translate }}</h1>
    <app-audio-format-switcher class="mt-2"></app-audio-format-switcher>
    <app-audio-bitrate-switcher class="mt-2"></app-audio-bitrate-switcher>
</div>
<mat-divider></mat-divider>
<!-- Title bar -->
<div class="m-3">
    <h1 class="mt-2">{{ 'SettingsTab.TitleBar' | translate }}</h1>
    <mat-slide-toggle class="mt-2" [(ngModel)]="useSystemTitleBarChecked">
        {{ 'SettingsTab.UseSystemTitleBar' | translate }}</mat-slide-toggle
    >
</div>
<mat-divider></mat-divider>
<!-- Updates -->
<div class="m-3">
    <h1 class="mt-2">{{ 'SettingsTab.Updates' | translate }}</h1>
    <mat-slide-toggle class="mt-2" [(ngModel)]="checkForUpdatesChecked"> {{ 'SettingsTab.CheckForUpdates' | translate }}</mat-slide-toggle>
</div>
