<div class="container p-2">
    <div class="drop-zone-container no-select">
        <div class="drop-zone-container-circle">
            <mat-progress-spinner *ngIf="isConverting" class="drop-zone-container-circle-spinner" diameter="268" strokeWidth="4" color="primary" [mode]="mode" [value]="progressPercent">
            </mat-progress-spinner>
            <div class="drop-zone-container-circle-background">
                <div *ngIf="!canConvert" class="drop-zone-container-drop-icon custom-font">
                    &#xE77F;
                </div>
                <div *ngIf="canConvert" (click)="performConvert()">
                    <div *ngIf="!isConverting" class="drop-zone-container-drop-icon custom-font clickable" matTooltip="{{ 'Tooltips.ClickToDownload' | translate }}">
                        &#xE896;
                    </div>
                    <div *ngIf="isConverting" class="drop-zone-container-progress-text">
                        {{ progressPercent }}%
                    </div>
                </div>
            </div>
        </div>
        <div class="drop-zone-container-text mt-3">
            <div *ngIf="!canConvert">
                {{ 'ConvertTab.DropText' | translate }}
            </div>
            <div *ngIf="canConvert">
                Download {{downloadUrl}}
            </div>
        </div>
    </div>
</div>