<div class="container p-2">
    <div class="drop-zone-container my-4 no-select">
        <div class="drop-zone-container-circle mb-4">
            <mat-progress-spinner *ngIf="isConverting || isConvertionSuccessful"
                class="drop-zone-container-circle-spinner" diameter="266" strokeWidth="4" color="primary" [mode]="mode"
                [value]="progressPercent">
            </mat-progress-spinner>
            <div class="drop-zone-container-circle-background">
                <div *ngIf="!canConvert" class="drop-zone-container-drop-icon">
                    <div class="drop-zone-container-drop-icon-copy custom-font" *ngIf="!isConvertionSuccessful">
                        &#xE77F;
                    </div>
                    <div class="drop-zone-container-drop-icon-success custom-font" *ngIf="isConvertionSuccessful">
                        &#xE8FB;
                    </div>
                </div>
                <div *ngIf="canConvert" (click)="performConvert()">
                    <div *ngIf="!isConverting" class="drop-zone-container-drop-icon-download custom-font clickable"
                        matTooltip="{{ 'Tooltips.ClickToConvert' | translate }}">
                        &#xE896;
                    </div>
                    <div *ngIf="isConverting" class="drop-zone-container-progress-text">
                        {{ progressPercent }}%
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!canConvert">
            <div *ngIf="!isConvertionSuccessful">
                {{ 'ConvertTab.DropText' | translate }}
            </div>
            <div *ngIf="isConvertionSuccessful">
                {{ 'ConvertTab.ConversionSuccessful' | translate }}
            </div>
        </div>
        <div *ngIf="canConvert">
                {{ 'ConvertTab.FoundOnClipboard' | translate }}
        </div>
        <div class="clipboard-content m-2 p-1" *ngIf="canConvert">
            {{downloadUrl}}
        </div>
    </div>
</div>