@import "theming";
@import "font-faces";
@import "variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-zone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-zone-container-circle {
  position: relative;
  width: 268px;
  height: 268px;
  flex: 1;
}

.drop-zone-container-circle-background {
  @extend .background-color-background;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  width: 260px;
  height: 260px;
  border-radius: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-zone-container-circle-spinner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.drop-zone-container-text {
  font-size: $fontsize-larger;
}

.drop-zone-container-plus-icon {
  @extend .color-secondary-text;
  font-family: segoe;
  font-size: 80px;
}

.clickable {
  cursor: pointer;
}

.drop-zone-container-progress-text {
  font-size: 50px;
}
