<div class="theme-switcher-component">
    <div *ngFor="let theme of appearanceService.themes">
        <div class="theme-switcher-component-button mr-2 mb-2" matTooltip="{{ theme.name }}" (click)="setTheme(theme)">
            <i
                class="theme-switcher-component-button__selector las la-check"
                *ngIf="theme.name === appearanceService.selectedTheme.name"
            ></i>
            <div class="theme-switcher-component-button__color" [ngStyle]="{ background: theme.coreColors.accentColor }"></div>
        </div>
    </div>
</div>
