@import "../custom-mat-themes.scss";

// Created with: http://mcg.mbitson.com/
$default-green-palette: (
    50 : #e0f6ec,
    100 : #b3e8d0,
    200 : #80d8b1,
    300 : #4dc892,
    400 : #26bd7a,
    500 : #00b163,
    600 : #00aa5b,
    700 : #00a151,
    800 : #009847,
    900 : #008835,
    A100 : #b4ffcb,
    A200 : #81ffa8,
    A400 : #4eff85,
    A700 : #35ff74,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
  )
);

$default-green-theme-primary: mat-palette($default-green-palette);
$default-green-theme-accent: mat-palette($default-green-palette);
$default-green-theme-warn: mat-palette($default-green-palette);

$default-green-theme: custom-mat-dark-theme(
  $default-green-theme-primary,
  $default-green-theme-accent,
  $default-green-theme-warn
);
