<div class="window-frame">
  <div class="window-frame-titlebar">
    <div class="window-frame-titlebar-dragarea pl-1">
      {{ applicationName }}
    </div>
    <app-window-controls></app-window-controls>
  </div>
  <div class="window-frame-content">
    <mat-tab-group>
      <!-- Convert -->
      <mat-tab>
        <ng-template mat-tab-label>
          <h2>{{ 'Tabs.Convert' | translate }}</h2>
        </ng-template>
        <app-convert></app-convert>
      </mat-tab>
      <!-- Settings -->
      <mat-tab>
        <ng-template mat-tab-label>
          <h2>{{ 'Tabs.Settings' | translate }}</h2>
        </ng-template>
        <app-settings></app-settings>
      </mat-tab>
      <!-- About -->
      <mat-tab>
        <ng-template mat-tab-label>
          <h2>{{ 'Tabs.About' | translate }}</h2>
        </ng-template>
        <app-about></app-about>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>