<div class="window-frame">
    <div class="window-frame-titlebar">
        <app-logo-small class="m-2 draggable"></app-logo-small>
        <app-sub-menu>
            <app-sub-menu-item [page]="0" [selectedPage]="this.page" (click)="this.setPage(0)">
                {{ 'Tabs.Convert' | translate }}
            </app-sub-menu-item>
            <app-sub-menu-item [page]="1" [selectedPage]="this.page" (click)="this.setPage(1)">
                {{ 'Tabs.Settings' | translate }}
            </app-sub-menu-item>
            <app-sub-menu-item [page]="2" [selectedPage]="this.page" (click)="this.setPage(2)">
                {{ 'Tabs.About' | translate }}
            </app-sub-menu-item>
        </app-sub-menu>
        <div class="window-frame-titlebar-dragarea">
        </div>
        <app-window-controls *ngIf="!appearanceService.windowHasNativeTitleBar"></app-window-controls>
    </div>
    <div class="window-frame-content" [ngStyle]="{ top: appearanceService.windowHasNativeTitleBar ? '0px' : '32px' }">
        <!-- Convert -->
        <app-convert *ngIf="this.leftToRight(0)" [@enterLeftToRight]></app-convert>
        <app-convert *ngIf="this.rightToLeft(0)" [@enterRightToLeft]></app-convert>
        <!-- Settings -->
        <app-settings *ngIf="this.leftToRight(1)" [@enterLeftToRight]></app-settings>
        <app-settings *ngIf="this.rightToLeft(1)" [@enterRightToLeft]></app-settings>
        <!-- About -->
        <app-about *ngIf="this.leftToRight(2)" [@enterLeftToRight]></app-about>
        <app-about *ngIf="this.rightToLeft(2)" [@enterRightToLeft]></app-about>
    </div>
</div>
<app-snack-bar></app-snack-bar>
