<div class="window-frame">
  <div class="window-frame-titlebar">
    <div class="window-frame-titlebar-dragarea pl-1">
      {{ applicationName }}
    </div>
    <window-controls></window-controls>
  </div>
  <div class="window-frame-content">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <h2>{{ 'Tabs.Convert' | translate }}</h2>
        </ng-template>
        One
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <h2>{{ 'Tabs.Settings' | translate }}</h2>
        </ng-template>
        Two
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <h2>{{ 'Tabs.About' | translate }}</h2>
        </ng-template>
        Three
      </mat-tab>
    </mat-tab-group>
  </div>
</div>