mat-tab-group {
    height: 100%;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
    height: 100%;
}

.mat-tab-label {
    user-select: none; // Prevents accidental selection of the header text
    -webkit-app-region: no-drag;
    opacity: 1 !important;
}

.mat-tab-label-content {
    font-weight: lighter !important;
    font-size: var(--fontsize-larger) !important;
    color: var(--theme-tab-text) !important;
}

.mat-tab-label-active .mat-tab-label-content {
    color: var(--theme-selected-tab-text) !important;
}

.mat-tab-group .mat-ink-bar,
.mat-tab-nav-bar .mat-ink-bar {
    background-color: var(--theme-accent-color) !important;
    height: 2px !important;
}

.mat-mdc-tab-group .mdc-tab-indicator__content--underline,
.mat-mdc-tab-nav-bar .mdc-tab-indicator__content--underline {
    border-color: var(--theme-accent-color) !important;
    border-top-width: 2px !important;
}

.mat-tab-header {
    border-bottom-style: none !important;
    background-color: var(--theme-secondary-background) !important;
}

.cdk-focused,
.cdk-keyboard-focused {
    background-color: transparent !important;
}
