.mat-simple-snackbar {
    color: var(--theme-secondary-text);
}

.mat-simple-snackbar > span {
    overflow-wrap: anywhere;
}

.mat-simple-snackbar-action {
    color: var(--theme-accent-color);
}

.dark-snackbar {
    background-color: var(--theme-secondary-background);
}
