@import "variables";

.mat-form-field {
  line-height: unset !important;
}

.mdc-text-field {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  padding: 0 4px !important;
  background-color: transparent !important;
}

.mdc-form-field {
  font-size: var(--fontsize-normal) !important;
}

.mat-mdc-form-field,
.mat-mdc-select,
.mat-mdc-select-value,
.mat-mdc-select-value-text,
.mat-mdc-select-placeholder,
.mat-mdc-select-arrow {
  color: var(--theme-primary-text) !important;
}

.mat-mdc-floating-label,
.mat-mdc-form-field-hint,
.mat-mdc-select-placeholder {
  color: var(--theme-secondary-text) !important;
}

.mdc-line-ripple::before {
  border-bottom-color: var(--theme-secondary-text) !important;
}

.mdc-line-ripple::after {
  border-bottom-color: var(--theme-accent-color) !important;
}

.mat-mdc-select-panel {
  background-color: var(--theme-secondary-background) !important;
}

.mat-mdc-option {
  background-color: var(--theme-secondary-background) !important;
  color: var(--theme-primary-text) !important;
  font-size: var(--fontsize-normal) !important;
  min-height: unset !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
  color: var(--theme-primary-text) !important;
}

.mat-mdc-option:hover,
.mat-mdc-option:focus,
.mat-mdc-option.mat-mdc-option-active,
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) {
  background-color: var(--theme-hovered-item-background) !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: var(--theme-accent-color) !important;
}

.mat-mdc-form-field-infix {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  min-height: unset !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  width: 12px !important;
  height: 5px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: unset !important;
}

