<h1 mat-dialog-title>{{ 'DialogTitles.Error' | translate }}</h1>
<mat-dialog-content>
    <p *ngIf="!data.isGlobalError">{{ data.errorText }}</p>
    <p *ngIf="data.isGlobalError">{{ 'ErrorTexts.GlobalError' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <app-accent-button [mat-dialog-close]>{{ 'Buttons.Ok' | translate }}</app-accent-button>
    <app-transparent-button [mat-dialog-close] (click)="viewLog()">{{ 'Buttons.ViewLog' | translate }}
    </app-transparent-button>
</mat-dialog-actions>